body {
    background-color: rgb(158 173 177);
    font-family: 'Bree Serif', serif;
}

/*label, thead, th{
    border: 2px solid skyblue;
    border-collapse: collapse;
    
    }*/
    form{
        display: flex;
        flex-direction: column;

    }
    
    thead, th {
       
        padding: 8px;
    
    }
    

.mama01{
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
}
form{
    width: min-content;
}
label span{
    width: 100px;
    display: inline-block;

}

.son01 th{
    
    align-items: center;
    justify-content: space-around;
}